body {
    background-image: radial-gradient(darkcyan, yellow);
    background-color: yellow;
    color: darkcyan;
    font-family: 'Rubik Puddles', cursive;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1{
    width: 30vw;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.guessplate{
    background-image: url("tiles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(238, 255, 0);
    width: 65px;
    height: 65px;
    margin: 5px;
    box-shadow: 6px 6px 6px thistle;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guessrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#grid{
    display: block;
    width: 100vw;
}

#notgrid{
    display: block;
    width: 100vw;
}

.key {
    font-family: 'Rubik Microbe', cursive;
    color: rgb(0, 170, 255);
    background-color: thistle;
    width: 30px;
    height: 33px;
    margin: 1px;
    background-size: contain;
}

#keyrow2, #keyrow1, #keyrow3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wide{
    width: 43px;
}

div.green{
    color: rgb(124, 172, 195);
    transition: all 0.5s;
}

div.green:nth-child(n+1){
    animation-name: turn-green-anim;
    animation-duration: 5s;
    animation-delay: 0s;
    background-color: rgb(30, 148, 30);
    transition-delay: 2s;
}

div.green:nth-child(n+2){
    animation-name: turn-green-anim;
    animation-duration: 5s;
    animation-delay: 2s;
    background-color: rgb(30, 148, 30);
    transition-delay: 4s;
}

div.green:nth-child(n+3){
    animation-name: turn-green-anim;
    animation-duration: 5s;
    animation-delay: 4s;
    background-color: rgb(30, 148, 30);
    transition-delay: 6s;
}

div.green:nth-child(n+4){
    animation-name: turn-green-anim;
    animation-duration: 5s;
    animation-delay: 6s;
    background-color: rgb(30, 148, 30);
    transition-delay: 8s;
}

div.green:nth-child(n+5){
    animation-name: turn-green-anim;
    animation-duration: 5s;
    animation-delay: 8s;
    background-color: rgb(30, 148, 30);
    transition-delay: 10s;
}

@keyframes turn-green-anim{
    0% {
        transform: rotateX(0deg);
        background-color: rgb(238, 255, 0);
    }
    50% {
        transform: rotateX(90deg);
        background-color: black;
    }
    100% {
        transform: rotateX(0deg);
        background-color: rgb(30, 148, 30);
    }
} 

/*START OF GRAEEAAEY ANIMATION*/

div.graeeaaey{
    color: rgb(0, 174, 255);
    transition: all 0.5s;
}

div.graeeaaey:nth-child(n+1){
    animation-name: turn-graeeaaey-anim;
    animation-duration: 5s;
    animation-delay: 0s;
    background-color: rgb(92, 91, 91);
    transition-delay: 2s;
}

div.graeeaaey:nth-child(n+2){
    animation-name: turn-graeeaaey-anim;
    animation-duration: 5s;
    animation-delay: 2s;
    background-color: rgb(92, 91, 91);
    transition-delay: 4s;
}

div.graeeaaey:nth-child(n+3){
    animation-name: turn-graeeaaey-anim;
    animation-duration: 5s;
    animation-delay: 4s;
    background-color: rgb(92, 91, 91);
    transition-delay: 6s;
}

div.graeeaaey:nth-child(n+4){
    animation-name: turn-graeeaaey-anim;
    animation-duration: 5s;
    animation-delay: 6s;
    background-color: rgb(92, 91, 91);
    transition-delay: 8s;
}

div.graeeaaey:nth-child(n+5){
    animation-name: turn-graeeaaey-anim;
    animation-duration: 5s;
    animation-delay: 8s;
    background-color: rgb(92, 91, 91);
    transition-delay: 10s;
}

@keyframes turn-graeeaaey-anim{
    0% {
        transform: rotateX(0deg);
        background-color: rgb(238, 255, 0);
    }
    50% {
        transform: rotateX(90deg);
        background-color: black;
    }
    100% {
        transform: rotateX(0deg);
        background-color: rgb(92, 91, 91);
    }
} 

/* Yellow */

div.yellow{
    color: rgb(0, 170, 255);
    transition: all 0.5s;
}

div.yellow:nth-child(n+1){
    animation-name: turn-yellow-anim;
    animation-duration: 5s;
    animation-delay: 0s;
    background-color: rgb(238, 255, 0);
    transition-delay: 2s;
}

div.yellow:nth-child(n+2){
    animation-name: turn-yellow-anim;
    animation-duration: 5s;
    animation-delay: 2s;
    background-color: rgb(238, 255, 0);
    transition-delay: 4s;
}

div.yellow:nth-child(n+3){
    animation-name: turn-yellow-anim;
    animation-duration: 5s;
    animation-delay: 4s;
    background-color: rgb(238, 255, 0);
    transition-delay: 6s;
}

div.yellow:nth-child(n+4){
    animation-name: turn-yellow-anim;
    animation-duration: 5s;
    animation-delay: 6s;
    background-color: rgb(238, 255, 0);
    transition-delay: 8s;
}

div.yellow:nth-child(n+5){
    animation-name: turn-yellow-anim;
    animation-duration: 5s;
    animation-delay: 8s;
    background-color: rgb(238, 255, 0);
    transition-delay: 10s;
}

@keyframes turn-yellow-anim{
    0% {
        transform: rotateX(0deg);
        background-color: rgb(238, 255, 0);
    }
    50% {
        transform: rotateX(90deg);
        background-color: black;
    }
    100% {
        transform: rotateX(0deg);
        background-color: rgb(238, 255, 0);
    }
} 

h2{
    text-align: center;
}




@keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }
  .container {
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
  }
  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
  }
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }

#msgs{
    opacity: 0;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#h2response{
    background-color: blueviolet;
    color: whitesmoke;
    padding: 50px;
}